.w-100:hover{
    box-shadow: 3px 3px 15px rgb(111, 111, 111);
}  
.text {
    font-family: "Arial Bold", Arial;
    font-weight: 700;
    font-size: 15px;
    color: #000000 !important;
}
.container-fluid{
    position: absolute;
    border-radius: 1px;
    top: 175px;
}
.navbarNav{
    position: absolute;
    border-radius: 1px;
    top: 175px;
}
.row .bg{
    background-color: rgba(255, 198, 84, 0);
    color: rgb(255, 255, 255);
}
.row .bg:hover {
    color: rgb(255, 255, 255);
    background-color: #4a4a4a;
    border: rgb(128, 123, 123) solid 1px;
}
#menu a {
    color: rgb(255, 255, 255);
    background-color: #ffffff00;
    text-decoration: none;
    position: absolute;
    border-radius: 1px;
    top: 175px;
}
#menu a:hover {
    color: rgb(255, 255, 255);
    background-color: #4a4a4a;
    border: rgb(128, 123, 123) solid 1px;
}
#jumbo-superior{
    background-image: url(/media/img/dog1.jpeg);    
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}
#jumbo-inferior{
    height: 350px;
    background-image: url(/media/img/dog3.jpeg);    
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    color: white;
    opacity: 0.8;
}
@media(max-width: 576px){

    #menu a {
        color: rgb(255, 255, 255);
        background-color: #00000020;
        text-decoration: none;
        position: absolute;
        border-radius: 1px;
        top: 180px;
    }
    #categoria{
        color: black;
    }
    #jumbo-superior{
        height: 220px;
    }
    .container-fluid{
        position: absolute;
        border-radius: 1px;
        top: 176px;
    }
    .row .bg{
        background-color: #00000010;
    }
}