
{% extends "sos_pet/model-page.html" %}

{% block content %}
{% include 'sos_pet/nav-cadastrar-categoria.html' %}
<div class="container">
    <div class="row mt-4">
        {% for p in pet %}
        <div class="col-12 col-md-4 my-2 mb-5">
            <a href="../detail/{{ p.id }}">
                <div class="position-relative">
                    {% if p.photo %}
                    <img class="w-100" src="{{ p.photo.url }}" alt="">
                    {% else %}
                    <img class="w-100" src="/media/pet/sem-foto.jpeg" alt="Norway" >
                    {% endif %}
                    <div class="position-absolute dados">
                        <h3 class="text-right text">{{p.city}}  {{p.zone}}</h3>                    
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
