<div id="jumbo-superior" class="jumbotron rounded-0 header text-center"
style="    
font-family:Noto Sans, sans-serif;
color: rgba(255, 255, 255, 0.667);">
    <h1>Pet Floripa</h1>
    <p>Nos ajude a salvar mais Pets!</p>
</div>
<div class="container-fluid mt-0">  
        <div class="row justify-content-end">
            <div class="row mr-2 mb-2"> 
                <div class="bg">
                    <a class="nav-link text-white"style="font-size: large;" href="/pet/all/">Voltar</a>    
                </div>                
            </div>
        </div>
</div>