  
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include 'sos_pet/model-header.html' %}
    </head>
<body>
    <div id="jumbo-superior" class="jumbotron rounded-0 header text-center">
        <h1>Pet Floripa</h1>
        <p>Nos ajude a salvar mais Pets!</p>
    </div>
    <div class="container-fluid mt-0">  
            <div class="row justify-content-end">
                <div class="row mr-2 mb-2"> 
                    <div class="bg">
                        <a class="nav-link text-white"style="font-size: large;" href="/">Voltar</a>    
                    </div>                
                </div>
            </div>
    </div>

<!-- conteudo -->

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="card-imagem" >
                 
                    <img class="w-100" src="{{ pet.photo.url }}" alt="Norway" style="margin-top: 16px; box-shadow: none;"> 
              
            
                    <div class="position-absolute dados">
                        <h3 class="text-right text">{{p.city}}  {{p.zone}}</h3>                    
                    </div>
                </div>
                <br>
            </div>
            
            <div class="col-sm-12 col-md-12 col-lg-8">
                <h5>{{ pet.description }}</h5>
                <br>
                <p><b>Nome: </b>{{ pet.petname }}</p>                        
                <p><b>Sexo: </b>{{ pet.sexo }}</p> 
                <p><b>Temperamento: </b>{{ pet.temperamento }}</p> 
                <p><b>Castrado: </b>{{ pet.castrado }}</p> 
                <p><b>Vacinado: </b>{{ pet.vacinado }}</p>             
                <h4>Contato</h4>   
                <p><b>Nome: </b>{{ pet.name }}</p>                   
                <p><b>Tel.: </b>{{ pet.phone }}</p> 
                <p><b>Localizado em: </b>{{ pet.city }} {{ pet.zone }}</p> 
            </div>
        </div>
    </div>  

<!-- footer -->

    {% include 'sos_pet/model-footer.html' %}

</body>
</html>