  
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% include 'sos_pet/model-header.html' %}
    </head>
    <body>

<!-- nav -->    
    <div id="jumbo-superior" class="jumbotron rounded-0 header text-center"
    style="    
font-family:Noto Sans, sans-serif;
color: rgba(255, 255, 255, 0.667);">
        <h1>Pet Floripa</h1>
        <p>Nos ajude a salvar mais Pets!</p>
    </div>

<!-- menu de login -->
    <div id="menu" >    
        <ul class="nav">
            <li class="nav-item">
            <a class="nav-link" href="/logout/">Faça login para cadastrar seu Pet</a>
            </li>
        </ul>
    </div>

<!-- conteudo -->

    <div class="container">
        <div class="row mt-4">
            {% for p in pet %}
            <div class="col-12 col-md-4 my-2 mb-5">
                <a href="../detail/{{ p.id }}">
                    <div class="position-relative">
                        {% if p.photo %}
                    <img class="w-100" src="{{ p.photo.url }}" alt="">
                    {% else %}
                    <img class="w-100" src="/media/pet/sem-foto.jpeg" alt="Norway" >
                    {% endif %}
                    <div class="position-absolute dados">
                        <h3 class="text-right text">{{p.city}}  {{p.zone}}</h3>                    
                    </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

<!-- footer -->

{% include 'sos_pet/model-footer.html' %}
    </body>
</html>
